@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #dddddd;
}

body {
  background-color: var(--foreground);
}

.center-full {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
